WebAppVIP/Service References/vipUserAuthSvcRef/vipuserservices-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://schemas.verisign.com/vip/2011/04/vipuserservices" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.verisign.com/vip/2011/04/vipuserservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseRequestType" abstract="true">
    <xs:annotation>
      <xs:documentation>Acts as the base type for all the requests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="requestId" type="RequestIdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseRequestWithAccountIdType" abstract="true">
    <xs:annotation>
      <xs:documentation>Acts as the base type for all the requests that are sent on behalf of another account ID. In such cases,
			the sender will either be a super admin or a parent of the onBehalfOfAccountId.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" name="onBehalfOfAccountId" type="AccountIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BaseResponseType" abstract="true">
    <xs:annotation>
      <xs:documentation>Acts as the base type for all the responses.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="requestId" type="RequestIdType" />
      <xs:element name="status" type="xs:hexBinary" />
      <xs:element name="statusMessage" type="xs:string" />
      <xs:element minOccurs="0" name="detail" type="xs:hexBinary" />
      <xs:element minOccurs="0" name="detailMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServerTimeRequest" type="GetServerTimeRequestType" />
  <xs:complexType name="GetServerTimeRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServerTimeResponse" type="GetServerTimeResponseType" />
  <xs:complexType name="GetServerTimeResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateUserRequest" type="CreateUserRequestType" />
  <xs:complexType name="CreateUserRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element minOccurs="0" name="pin" type="PinType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateUserResponse" type="CreateUserResponseType" />
  <xs:complexType name="CreateUserResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateUserRequest" type="UpdateUserRequestType" />
  <xs:complexType name="UpdateUserRequestType">
    <xs:annotation>
      <xs:documentation>
				This request object can be used to rename the user.
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element minOccurs="0" name="newUserId" type="UserIdType" />
          <xs:element minOccurs="0" name="newUserStatus" type="UserStatusEnum" />
          <xs:element minOccurs="0" name="oldPin" type="PinType" />
          <xs:element minOccurs="0" name="newPin" type="PinType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateUserResponse" type="UpdateUserResponseType" />
  <xs:complexType name="UpdateUserResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteUserRequest" type="DeleteUserRequestType" />
  <xs:complexType name="DeleteUserRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteUserResponse" type="DeleteUserResponseType" />
  <xs:complexType name="DeleteUserResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClearUserPinRequest" type="ClearUserPinRequestType" />
  <xs:complexType name="ClearUserPinRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClearUserPinResponse" type="ClearUserPinResponseType" />
  <xs:complexType name="ClearUserPinResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddCredentialRequest" type="AddCredentialRequestType" />
  <xs:complexType name="AddCredentialRequestType">
    <xs:annotation>
      <xs:documentation> 
				Request for adding a credential under a user. 
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element name="credentialDetail" type="CredentialDetailType" />
          <xs:choice id="addCredAuthDataTypeChoice" minOccurs="0">
            <xs:element name="otpAuthData" type="OtpAuthDataType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddCredentialResponse" type="AddCredentialResponseType" />
  <xs:complexType name="AddCredentialResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateCredentialRequest" type="UpdateCredentialRequestType" />
  <xs:complexType name="UpdateCredentialRequestType">
    <xs:annotation>
      <xs:documentation> To update credential's friendly name.
			</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element name="credentialId" type="CredentialIdType" />
          <xs:element name="credentialType" type="CredentialTypeEnum" />
          <xs:element name="friendlyName" type="FriendlyNameType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateCredentialResponse" type="UpdateCredentialResponseType" />
  <xs:complexType name="UpdateCredentialResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveCredentialRequest" type="RemoveCredentialRequestType" />
  <xs:complexType name="RemoveCredentialRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element name="credentialId" type="CredentialIdType" />
          <xs:element name="credentialType" type="CredentialTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveCredentialResponse" type="RemoveCredentialResponseType" />
  <xs:complexType name="RemoveCredentialResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserInfoRequest" type="GetUserInfoRequestType" />
  <xs:complexType name="GetUserInfoRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element minOccurs="0" maxOccurs="1" default="true" name="iaInfo" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserInfoResponse" type="GetUserInfoResponseType" />
  <xs:complexType name="GetUserInfoResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="userId" type="UserIdType" />
          <xs:element minOccurs="0" name="userCreationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="userStatus" type="UserStatusEnum" />
          <xs:element minOccurs="0" name="numBindings" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="credentialBindingDetail" type="CredentialBindingDetailType" />
          <xs:element minOccurs="0" name="isPinSet" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCredentialInfoRequest" type="GetCredentialInfoRequestType" />
  <xs:complexType name="GetCredentialInfoRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="credentialId" type="CredentialIdType" />
          <xs:element name="credentialType" type="CredentialTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCredentialInfoResponse" type="GetCredentialInfoResponseType" />
  <xs:complexType name="GetCredentialInfoResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="credentialId" type="CredentialIdType" />
          <xs:element minOccurs="0" name="credentialType" type="CredentialTypeEnum" />
          <xs:element minOccurs="0" name="credentialStatus" type="CredentialStatusType" />
          <xs:element minOccurs="0" name="numBindings" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="userBindingDetail" type="UserBindingDetailType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticateUserRequest" type="AuthenticateUserRequestType" />
  <xs:complexType name="AuthenticateUserRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element minOccurs="0" name="pin" type="PinType" />
          <xs:choice id="authUserAuthDataTypeChoice">
            <xs:element name="otpAuthData" type="OtpAuthDataType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticateUserResponse" type="AuthenticateUserResponseType" />
  <xs:complexType name="AuthenticateUserResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="credentialId" type="CredentialIdType" />
          <xs:element minOccurs="0" name="credentialType" type="CredentialTypeEnum" />
          <xs:element minOccurs="0" name="authnId" type="AuthnIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTemporaryPasswordRequest" type="SetTemporaryPasswordRequestType" />
  <xs:complexType name="SetTemporaryPasswordRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element minOccurs="0" name="temporaryPassword" type="TemporaryPasswordType" />
          <xs:element minOccurs="0" name="temporaryPasswordAttributes" type="TemporaryPasswordAttributesType" />
          <xs:choice id="deliveryInfoChoice" minOccurs="0">
            <xs:element minOccurs="0" name="smsDeliveryInfo" type="SmsDeliveryInfoType" />
            <xs:element minOccurs="0" name="voiceDeliveryInfo" type="VoiceDeliveryInfoType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTemporaryPasswordResponse" type="SetTemporaryPasswordResponseType" />
  <xs:complexType name="SetTemporaryPasswordResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="temporaryPassword" type="TemporaryPasswordType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClearTemporaryPasswordRequest" type="ClearTemporaryPasswordRequestType" />
  <xs:complexType name="ClearTemporaryPasswordRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClearTemporaryPasswordResponse" type="ClearTemporaryPasswordResponseType" />
  <xs:complexType name="ClearTemporaryPasswordResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTemporaryPasswordAttributesRequest" type="SetTemporaryPasswordAttributesRequestType" />
  <xs:complexType name="SetTemporaryPasswordAttributesRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:element name="temporaryPasswordAttributes" type="TemporaryPasswordAttributesType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTemporaryPasswordAttributesResponse" type="SetTemporaryPasswordAttributesResponseType" />
  <xs:complexType name="SetTemporaryPasswordAttributesResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTemporaryPasswordAttributesRequest" type="GetTemporaryPasswordAttributesRequestType" />
  <xs:complexType name="GetTemporaryPasswordAttributesRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTemporaryPasswordAttributesResponse" type="GetTemporaryPasswordAttributesResponseType" />
  <xs:complexType name="GetTemporaryPasswordAttributesResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="tempPwdAttributes" type="TemporaryPasswordAttributesType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendOtpRequest" type="SendOtpRequestType" />
  <xs:complexType name="SendOtpRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="userId" type="UserIdType" />
          <xs:choice minOccurs="0">
            <xs:element minOccurs="0" name="smsDeliveryInfo" type="SmsDeliveryInfoType" />
            <xs:element minOccurs="0" name="voiceDeliveryInfo" type="VoiceDeliveryInfoType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendOtpResponse" type="SendOtpResponseType" />
  <xs:complexType name="SendOtpResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterRequest" type="RegisterRequestType" />
  <xs:complexType name="RegisterRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="smsDeliveryInfo" type="SmsDeliveryInfoType" />
            <xs:element name="voiceDeliveryInfo" type="VoiceDeliveryInfoType" />
            <xs:element name="serviceOtpDeliveryInfo" type="ServiceOtpDeliveryInfoType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterResponse" type="RegisterResponseType" />
  <xs:complexType name="RegisterResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="otp" type="OtpType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateRiskRequest" type="EvaluateRiskRequestType" />
  <xs:complexType name="EvaluateRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="UserId" type="UserIdType" />
          <xs:element name="Ip" type="IpAddressType" />
          <xs:element name="UserAgent" type="UserAgentType" />
          <xs:element minOccurs="0" name="IAAuthData" type="IAAuthDataType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateRiskResponse" type="EvaluateRiskResponseType" />
  <xs:complexType name="EvaluateRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Risky" type="xs:boolean" />
          <xs:element minOccurs="0" name="RiskScore" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskThreshold" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskReason" type="xs:string" />
          <xs:element minOccurs="0" name="PolicyVersion" type="xs:string" />
          <xs:element minOccurs="0" name="EventId" type="EventIdType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmRiskRequest" type="ConfirmRiskRequestType" />
  <xs:complexType name="ConfirmRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="UserId" type="UserIdType" />
          <xs:element name="EventId" type="EventIdType" />
          <xs:element minOccurs="0" name="VerifyMethod" type="VerifyMethodType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmRiskResponse" type="ConfirmRiskResponseType" />
  <xs:complexType name="ConfirmRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DenyRiskRequest" type="DenyRiskRequestType" />
  <xs:complexType name="DenyRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="UserId" type="UserIdType" />
          <xs:element name="EventId" type="EventIdType" />
          <xs:element minOccurs="0" name="VerifyMethod" type="VerifyMethodType" />
          <xs:element minOccurs="0" name="IAAuthData" type="IAAuthDataType" />
          <xs:element minOccurs="0" name="RememberDevice" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DenyRiskResponse" type="DenyRiskResponseType" />
  <xs:complexType name="DenyRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmTransactionRiskRequest" type="ConfirmTransactionRiskRequestType" />
  <xs:complexType name="ConfirmTransactionRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="UserId" type="UserIdType" />
          <xs:element name="TransactionId" type="TransactionIdType" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsMonetaryTransaction" type="xs:boolean" />
          <xs:element minOccurs="0" name="VerifyMethod" type="VerifyMethodType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmTransactionRiskResponse" type="ConfirmTransactionRiskResponseType" />
  <xs:complexType name="ConfirmTransactionRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DenyTransactionRiskRequest" type="DenyTransactionRiskRequestType" />
  <xs:complexType name="DenyTransactionRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element name="UserId" type="UserIdType" />
          <xs:element name="TransactionId" type="TransactionIdType" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsMonetaryTransaction" type="xs:boolean" />
          <xs:element minOccurs="0" name="VerifyMethod" type="VerifyMethodType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DenyTransactionRiskResponse" type="DenyTransactionRiskResponseType" />
  <xs:complexType name="DenyTransactionRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateNonMonetaryTransactionRiskRequest" type="EvaluateNonMonetaryTransactionRiskRequestType" />
  <xs:complexType name="EvaluateNonMonetaryTransactionRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="UserIdType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Ip" type="IpAddressType" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserAgent" type="UserAgentType" />
          <xs:element minOccurs="0" maxOccurs="1" name="IAAuthData" type="IAAuthDataType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
          <xs:element minOccurs="1" maxOccurs="1" name="NonMonetaryTransaction" type="NonMonetaryTransactionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateNonMonetaryTransactionRiskResponse" type="EvaluateNonMonetaryTransactionRiskResponseType" />
  <xs:complexType name="EvaluateNonMonetaryTransactionRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Risky" type="xs:boolean" />
          <xs:element minOccurs="0" name="RiskScore" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskThreshold" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskReason" type="xs:string" />
          <xs:element minOccurs="0" name="PolicyVersion" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="EventIdType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateMonetaryTransactionRiskRequest" type="EvaluateMonetaryTransactionRiskRequestType" />
  <xs:complexType name="EvaluateMonetaryTransactionRiskRequestType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseRequestWithAccountIdType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="UserIdType" />
          <xs:element minOccurs="0" maxOccurs="1" name="Ip" type="IpAddressType" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserAgent" type="UserAgentType" />
          <xs:element minOccurs="0" maxOccurs="1" name="IAAuthData" type="IAAuthDataType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonetaryTransaction" type="MonetaryTransactionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EvaluateMonetaryTransactionRiskResponse" type="EvaluateMonetaryTransactionRiskResponseType" />
  <xs:complexType name="EvaluateMonetaryTransactionRiskResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="BaseResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Risky" type="xs:boolean" />
          <xs:element minOccurs="0" name="RiskScore" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskThreshold" type="RiskScoreType" />
          <xs:element minOccurs="0" name="RiskReason" type="xs:string" />
          <xs:element minOccurs="0" name="PolicyVersion" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" type="EventIdType" />
          <xs:element minOccurs="0" maxOccurs="20" name="KeyValuePairs" type="KeyValuePairType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KeyValuePairType">
    <xs:sequence>
      <xs:element name="Key" type="KeyType" />
      <xs:element name="Value" type="ValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KeyType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="125" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValueType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="40" />
      <xs:pattern value="[0-9A-Za-z_]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="50" />
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UserIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CredentialIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="100" />
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CredentialTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD_OTP" />
      <xs:enumeration value="SMS_OTP" />
      <xs:enumeration value="VOICE_OTP" />
      <xs:enumeration value="SERVICE_OTP" />
      <xs:enumeration value="CERTIFICATE" />
      <xs:enumeration value="IA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UserStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="DISABLED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BindStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENABLED" />
      <xs:enumeration value="DISABLED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CredentialStatusType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FriendlyNameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="125" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CredentialDetailType">
    <xs:sequence>
      <xs:element name="credentialId" type="CredentialIdType" />
      <xs:element name="credentialType" type="CredentialTypeEnum" />
      <xs:element minOccurs="0" name="friendlyName" type="FriendlyNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BindingDetailType">
    <xs:sequence>
      <xs:element name="bindStatus" type="BindStatusEnum" />
      <xs:element minOccurs="0" name="friendlyName" type="FriendlyNameType" />
      <xs:element name="lastBindTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastAuthnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastAuthnId" type="AuthnIdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CredentialBindingDetailType">
    <xs:sequence>
      <xs:element name="credentialId" type="CredentialIdType" />
      <xs:element name="credentialType" type="CredentialTypeEnum" />
      <xs:element minOccurs="0" name="credentialStatus" type="CredentialStatusType" />
      <xs:element name="bindingDetail" type="BindingDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserBindingDetailType">
    <xs:sequence>
      <xs:element name="userId" type="UserIdType" />
      <xs:element name="userStatus" type="UserStatusEnum" />
      <xs:element name="bindingDetail" type="BindingDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OtpType">
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="10" />
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeviceFingerPrintType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2048" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IpAddressType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AbstractAuthDataType" abstract="true" />
  <xs:complexType name="OtpAuthDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="AbstractAuthDataType">
        <xs:sequence>
          <xs:element name="otp" type="OtpType" />
          <xs:element minOccurs="0" name="otp2" type="OtpType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AuthnIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TemporaryPasswordType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
            		One Time Password. Limited to 6 bytes.
        	</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TemporaryPasswordAttributesType">
    <xs:annotation>
      <xs:documentation xml:lang="en" />
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="expirationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="oneTimeUseOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
            		Destination type.
        		</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="PhoneNumberType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5,20}(x[0-9,#.*]{1,20})?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SmsDeliveryInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
            		Contains the branding information.
        		</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="phoneNumber" type="PhoneNumberType" />
      <xs:element minOccurs="0" name="smsFrom" type="SmsFromType" />
      <xs:element minOccurs="0" name="messageTemplate" type="SmsMessageTemplateType" />
      <xs:element minOccurs="0" name="gatewayAcctInfo" type="GatewayAcctInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GatewayAcctInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
            		Contains the IMN gateway account information.
        		</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="15" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Password">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SmsFromType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3,20}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SmsMessageTemplateType">
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VoiceDeliveryInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains the elements for voice type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="phoneNumber" type="PhoneNumberType" />
      <xs:element minOccurs="0" name="Language" type="xs:language" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceOtpDeliveryInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains the elements for voice type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="CredentialIdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PinType">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="12" />
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UserAgentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IAAuthDataType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EventIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="18" />
      <xs:pattern value="[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerifyMethodType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RiskScoreType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmountType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="99999999999999999999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="-99999999999999999999" />
      <xs:maxInclusive value="99999999999999999999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NormalizedRiskScoreType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionIdType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
      <xs:pattern value="[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MonetaryTransactionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SourceAccount" type="Account" />
      <xs:element minOccurs="1" maxOccurs="1" name="DestinationAccount" type="Account" />
      <xs:element minOccurs="0" maxOccurs="1" name="EventId" type="EventIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionAmount" type="AmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountBalance" type="BalanceType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionType" type="TransactionType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="MonetaryTransactionChannelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonMonetaryTransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SourceAccount" type="Account" />
      <xs:element minOccurs="0" maxOccurs="1" name="EventId" type="EventIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChangeType" type="ChangeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelType" type="NonMonetaryTransactionChannelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WIRETRANSFER" />
      <xs:enumeration value="BILLPAYMENT" />
      <xs:enumeration value="ELECTRONICREALTIMEBANKTRANSFER" />
      <xs:enumeration value="JOURNALING" />
      <xs:enumeration value="CHECKREQUEST" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SAVINGS" />
      <xs:enumeration value="CHECKING" />
      <xs:enumeration value="BUSINESS" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonetaryTransactionChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEB" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="TELLER" />
      <xs:enumeration value="MOBILE" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonMonetaryTransactionChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEB" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="MOBILE" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL" />
      <xs:enumeration value="PASSWORD" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="ADDRESS" />
      <xs:enumeration value="USERNAME" />
      <xs:enumeration value="SECURITYQUESTION" />
      <xs:enumeration value="SECURITYANSWER" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="64" />
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringDescType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AccountName" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankID" type="IDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AccountType" type="AccountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="StringDescType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountCreationDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>